<a href="https://colab.research.google.com/github/Bzitsman/Introduction-to-Programming-with-Python-and-Java-Specialization/blob/main/Data_structures_intro_to_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS

In [1]:
#create a list with reandom strings
list1 = [ "1", "dog", "cat", "798"]
print(list1)

['1', 'dog', 'cat', '798']

In [2]:
#get the length of the list
print(len(list1))

4

In [3]:
#get the 2nd itme in the list
print(list1[1])

dog

In [5]:
#you can add items to a list
list1.append("hello")
print(list1)

['1', 'dog', 'cat', '798', 'hello', 'hello']

In [7]:
#remove items from a list
list1.pop() # removes the last item in the list
print(list1)

list1.pop(1) # removes the 2nd item in the list
print(list1)

['1', 'dog', 'cat', '798']
['1', 'cat', '798']

In [8]:
#check if an item is in a list
print("dog" in list1)

False

# LOOPS



*   *for* Loops run a piece of code for a given number of times
*   *while* Loops run a piece of code indefinitely while a condition is met

In [9]:
#print the list once
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [11]:
#define list of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

#to store even numbers
even_numbers = []

#iterate over list
for number in numbers:
  #test if number is even
  if (number % 2 == 0):
    #append to even number list
    even_numbers.append(number)
print(even_numbers)

[2, 4, 6, 8, 10]

In [13]:
#define list of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

#to store even numbers
even_numbers = []

#to store count of even numbers
even_count = 0

#iterate over list
for number in numbers:
  #test if number is even
  if (number % 2 == 0):
    #append to even number list
    even_numbers.append(number)

    #increment count
    even_count += 1

print(even_numbers)
print("There are", even_count, "number in the even list.")
#or
print("There are", len(even_numbers), "number in the even list.")

[2, 4, 6, 8, 10]
There are 5 number in the even list.
There are 5 number in the even list.